@import url("https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@200&family=Poppins:ital,wght@1,200&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
button {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

/*=============== MODAL ===============*/
.container {
  margin-left: 1rem;
  margin-right: 1rem;
}

.modal {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.modal__button a {
  width: 100%;
  text-decoration: none;
  display: inline-block;
  background-color: #6f6ff9;
  color: #FFF;
  padding: 1rem 1.25rem;
  border-radius: .5rem;
  -webkit-transition: .3s;
  transition: .3s;
  letter-spacing: 1px;
  margin-bottom: 0.2rem;
}

.modal__button a:hover {
  background-color: #373449;
}

.btn-description {
  font-family: "Lato", sans-serif;
  margin-bottom: 3rem;
}

.modal__container {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(55, 52, 73, 0.8);
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  overflow: hidden;
  -webkit-transition: all .3s;
  transition: all .3s;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  /*=== Effect 3 ===*/
  /* perspective: 1000px; */
}

.modal__content {
  position: relative;
  background: #fff;
  text-align: center;
  padding: 3rem 2rem 2rem;
  border-radius: 1rem 1rem 0 0;
  -webkit-transition: all .3s;
  transition: all .3s;
  margin: auto;
  width: 800px;
  height: 500px;
  border-radius: 1.25rem;
  /*=== Effect 1 ===*/
  -webkit-transform: translateY(10%);
          transform: translateY(10%);
  /*=== Effect 2 ===*/
  /* transform: scale(.5) translateY(10%); */
  /*=== Effect 3 ===*/
  /* transform: rotateX(65deg) scale(.75) translateY(10%);
  transform-origin: 50% 100%; */
}

.modal__img {
  width: 170px;
  /* margin-bottom: .75rem; */
}

.modal__close {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: #373449;
  border-radius: .25rem;
  color: #FFF;
  font-size: 1.5rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
  cursor: pointer;
}

.modal__title {
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  color: #373449;
  font-weight: 700;
  margin-bottom: 1.5em;
  letter-spacing: 1px;
}

.modal__button-width {
  width: 60%;
}

/* Show modal */
.show-modal {
  visibility: visible;
  opacity: 1;
}

.show-modal .modal__content {
  /*=== Effect 1 ===*/
  -webkit-transform: translateY(0);
          transform: translateY(0);
  /*=== Effect 2 ===*/
  /* transform: scale(1) translateY(0); */
  /*=== Effect 3 ===*/
  /* transform: rotateX(0) scale(1) translateY(0); */
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
/* @media screen and (min-width: 576px){
  .modal__content{
    margin: auto;
    width: 580px;
    border-radius: 1.25rem;
  }

  .modal__img{
    width: 170px;
  }
} */
.myInput {
  height: 30px;
  width: 40%;
  border: 0;
  padding: 10px;
  border-bottom: 1px solid #373449;
  -webkit-transition: 1s ease;
  transition: 1s ease;
  margin: 0 2.2rem 2rem 0;
  font-size: 1.2rem;
}

.myInput:focus {
  outline: none;
  border: 0;
  border-bottom: 1px solid #373449;
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}

#btn1 {
  margin-top: 1.5rem;
}

#loginLink {
  font-size: 0.9rem;
  text-decoration: none;
  color: #6f6ff9;
}

body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
}

.background {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background: #020024;
  background: linear-gradient(165deg, #020024 0%, #6f6ff9 35%, #00d4ff 100%);
}

.wrapper {
  width: 85%;
  height: 85vh;
  background: #fff;
  position: absolute;
  left: 50%;
  top: 0;
  margin: 7.5vh 0;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  /* -webkit-box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.15);*/
  -webkit-box-shadow: 4px 10px 20px rgba(55, 52, 73, 0.4);
          box-shadow: 4px 10px 20px rgba(55, 52, 73, 0.4);
}

.wrapper .header {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  overflow: hidden;
}

.wrapper .header .logo {
  width: 50px;
  height: auto;
  position: absolute;
  top: 45px;
  left: 70px;
  font-family: "Lato", sans-serif;
  color: #daf8f5;
  font-size: 1em;
  font-weight: 900;
  text-shadow: 2px 1px 0px rgba(55, 52, 73, 0.9);
}

.wrapper .header .menu {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 33px;
  position: absolute;
  top: 30px;
  right: 100px;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 0;
}

.wrapper .header .menu li {
  list-style-type: none;
}

.wrapper .header .menu li a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  padding: 1rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  line-height: normal;
  letter-spacing: 1px;
  -webkit-transition: 1s ease;
  transition: 1s ease;
  margin: 0 0.6rem;
}

.wrapper .header .menu li a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background: #0093E9;
}

.wrapper .header .content {
  position: absolute;
  width: 100%;
  height: auto;
  top: 10rem;
  left: 2rem;
  /*
           .content2{
                float: right;
                margin: -17rem 5rem 2rem 0;

                img{
                padding: -2rem 19rem 0 0;
                    width: 600px;
                }
            }*/
}

.wrapper .header .content .content1 {
  float: left;
}

.wrapper .header .content .content1 h1 {
  color: #fff;
  margin: 0;
  font-size: 4em;
  letter-spacing: 1px;
  padding-left: 4rem;
  font-family: "Lato", sans-serif;
}

.wrapper .header .content .content1 h2 {
  color: #fff;
  margin: 0;
  font-size: 3em;
  letter-spacing: 1px;
  padding-left: 4rem;
  font-family: "Montserrat", sans-serif;
  padding-top: 2rem;
}

.wrapper .header .content .content1 h2 hr {
  background: #fff;
  height: 2px;
  width: 350px;
  float: right;
  padding-right: 2rem;
  margin-top: 1.8rem;
}

.wrapper .header .content .content1 ul {
  padding-left: 6.5rem;
  font-family: "Montserrat", sans-serif;
}

.wrapper .header .content .content1 ul li {
  color: #fff;
  font-size: 1.5em;
  letter-spacing: 1px;
  font-weight: 600;
  line-height: 3rem;
}

.wrapper .header .content .content1 #btn {
  margin: 4rem 0 0 4.5rem;
}

.wrapper .header .content .content1 #btn a {
  font-size: 1.2rem;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: .9rem 2.3rem;
  border-radius: 25px;
  background: #6f6ff9;
  font-family: "Lato", sans-serif;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.wrapper .header .content .content1 #btn a:hover {
  background: #6f6ff9;
}

.wrapper .header .content .content2 {
  float: right;
  margin: 5rem 11rem 2rem 0;
}

.wrapper .header .content .content2 img {
  width: 400px;
}

.client-section {
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.client-section nav {
  height: 100px;
  border-bottom: 1px solid #373449;
  background: rgba(128, 208, 199, 0);
}

.client-section nav .logo {
  width: 50px;
  height: auto;
  position: absolute;
  top: 35px;
  left: 70px;
  font-family: "Lato", sans-serif;
  color: #0093E9;
  font-size: 2em;
  font-weight: 900;
}

.client-section nav .menu {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 33px;
  position: absolute;
  top: 30px;
  right: 100px;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 0;
}

.client-section nav .menu li {
  list-style-type: none;
}

.client-section nav .menu li a {
  text-decoration: none;
  color: #373449;
  display: inline-block;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  padding: 1rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  line-height: normal;
  letter-spacing: 1px;
  -webkit-transition: 1s ease;
  transition: 1s ease;
  margin: 0 0.6rem;
}

.client-section nav .menu li a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  border-top: 1px solid #373449;
}

.client-section .container {
  width: 80%;
  margin: 0 auto;
}

.client-section .container .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.client-section .container .content h2 {
  color: #373449;
  font-size: 3.5rem;
  font-family: "Lato", sans-serif;
  margin: 2.5rem 0 1rem 1rem;
}

.client-section .container .content h5 {
  font-family: "Poppins", sans-serif;
  color: #0093E9;
  font-size: 1.3rem;
  margin: 0 0 0 2rem;
}

.client-section .container .content .myText {
  font-weight: 600;
  color: #373449;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  margin: 3rem 0 0 2rem;
  letter-spacing: 1px;
  line-height: 3rem;
}

.client-section .container .content img {
  width: 450px;
  margin: 12rem 1rem 0 -8rem;
}

.client-section .container .contact-btn {
  width: 40%;
  border-radius: 15px;
  background: #0093E9;
  text-align: center;
  padding: 1.5rem 1rem;
  color: #fff;
  margin: 2rem 1rem;
  letter-spacing: 1px;
  font-size: 1.4rem;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.client-section .container .contact-btn:hover {
  background: #373449;
}

.writer-section {
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.writer-section nav {
  height: 100px;
  border-bottom: 1px solid #373449;
  background: rgba(128, 208, 199, 0);
}

.writer-section nav .logo {
  width: 50px;
  height: auto;
  position: absolute;
  top: 35px;
  left: 70px;
  font-family: "Lato", sans-serif;
  color: #0093E9;
  font-size: 2em;
  font-weight: 900;
}

.writer-section nav .menu {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 33px;
  position: absolute;
  top: 30px;
  right: 100px;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 0;
}

.writer-section nav .menu li {
  list-style-type: none;
}

.writer-section nav .menu li a {
  text-decoration: none;
  color: #373449;
  display: inline-block;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  padding: 1rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  line-height: normal;
  letter-spacing: 1px;
  -webkit-transition: 1s ease;
  transition: 1s ease;
  margin: 0 0.6rem;
}

.writer-section nav .menu li a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  border-top: 1px solid #373449;
}

.writer-section .container {
  width: 80%;
  margin: 0 auto;
}

.writer-section .container .content {
  text-align: center;
  margin-left: -12rem;
}

.writer-section .container .content h2 {
  color: #373449;
  font-size: 3.5rem;
  font-family: "Lato", sans-serif;
  margin: 2.5rem 0 1rem 1rem;
  letter-spacing: 2px;
}

.writer-section .container .content .search-bar {
  text-align: center;
  margin: 2rem 0 0 0;
}

.writer-section .container .content .search-bar input {
  height: 30px;
  padding: 1rem;
  border-radius: 5px;
  width: 50%;
  border: 1px solid #373449;
  font-size: 1.1rem;
}

.writer-section .container .content .search-bar button {
  padding: 0.7rem 2rem;
  border-radius: 5px;
  color: #0093E9;
}

.writer-section .container .content .box {
  height: 140px;
  width: 80%;
  border-radius: 15px;
  margin: auto;
  margin-top: 3rem;
  -webkit-box-shadow: 0 0 50px #ccc;
          box-shadow: 0 0 50px #ccc;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.writer-section .container .content .box .circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #ccc;
  margin-top: -1rem;
}

.writer-section .container .content .box .box-text {
  margin-left: 1rem;
  font-family: "Montserrat", sans-serif;
}

.writer-section .container .content .box .box-text h5 {
  text-align: start;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.writer-section .container .content .box .box-text p {
  text-align: start;
  font-weight: 600;
  line-height: 1.5rem;
  font-size: 0.8rem;
  margin-right: 10rem;
}

.writer-section .container .content .box .box-btn {
  text-decoration: none;
  color: #0093E9;
  border-radius: 30px;
  font-size: 1rem;
  margin-left: 10rem;
  border: 2px solid #0093E9;
  display: inline;
  margin-top: 20px;
  padding: 0.7rem 1rem;
  margin-bottom: 10px;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.writer-section .container .content .box .box-btn:hover {
  background: #0093E9;
  color: #fff;
}

.writer-section .container .contact-btn {
  width: 40%;
  border-radius: 15px;
  background: #0093E9;
  text-align: center;
  padding: 1.5rem 1rem;
  color: #fff;
  margin: 2rem 1rem;
  letter-spacing: 1px;
  font-size: 1.4rem;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.writer-section .container .contact-btn:hover {
  background: #373449;
}
/*# sourceMappingURL=style.css.map */